body {
    font-family: sans-serif;
}

header{
    background-color: lightblue;
    padding: 15px;
}

header a{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

h1{
    background-color:lightblue;
    padding: 10px;
    color:darkblue;
}

footer p{
    background-color:green;
    color:white;
    padding: 5px;
    text-decoration: none;
}

nav{
    padding: 10px;
    background-color: green;
    color: black;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

.tovar{
    background-color: lightgreen;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

.petard{
    background-color: lightgreen;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

.fontan{
     background-color: lightgreen;
    color: black;
    border-radius: 10px;
        padding: 5px;
}

.shar{
     background-color: lightgreen;
    color: black;
    border-radius: 10px;
        padding: 5px;
}

h2{
    color: rgb(18, 169, 219);
}
